
.navbar {
  background-color: var(--color-secondary);
  padding: var(--padding-medium);
  position: sticky;
  top: 0;
  z-index: 99;
}
.navbar__container {
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-medium) var(--padding-large);
  color: var(--color-secondary);
  border-radius: var(--radius-xlarge);
  gap: 1rem;
}
