:root {
  --font-primary: 'Poppins', sans-serif;

  --color-primary: #245558;
  --color-primary-light: #2c9095;
  --color-secondary: #ffffff;
  --color-accent: #ffd570;
  --color-black: #333333;
  --color-white: #ffffff;
  --color-border: #dddddd;
  --color-highlight: #fb7f7f;
  --color-error: #ea3b3b;
  --color-rating: #ffa500;
  --color-card-shadow: rgba(0, 0, 0, 0.16);
  --color-button-bg: #f3f5ed;
  --shadow-inset: #24555812 0px -50px 36px -28px inset;
  --color-primary-grad: hsla(183, 42%, 24%, 0.8);
  --color-primary-light-grad: hsla(183, 54%, 38%, 0.3);

  --padding-none: 0rem;
  --padding-small: 0.5rem;
  --padding-normal: 0.7rem;
  --padding-medium: 1rem;
  --padding-large: 2rem;
  --padding-xlarge: 4rem;

  --margin-none: 0rem;
  --margin-small: 0.5rem;
  --margin-normal: 0.7rem;
  --margin-medium: 1rem;
  --margin-large: 2rem;
  --margin-xlarge: 4rem;

  --radius-small: 4px;
  --radius-medium: 5px;
  --radius-large: 8px;
  --radius-xlarge: 15px;
  --radius-full: 50px;
  --radius-card: 12px;

  --transition-duration: 0.3s;
}
