.product__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--padding-large);
  padding: var(--padding-large) 0;
  justify-content: center;
}

@media (max-width: 768px) {
  .product__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
