.filters {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: var(--padding-medium) var(--padding-none);
}

.filters__spacer {
  flex-grow: 1;
}

@media (max-width: 768px) {
  .filters {
    flex-direction: column;
  }

  .filters__spacer {
    display: none;
  }
}
